.chat{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}.bodyHolder{
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
  width: 100%;
  margin-top: 60px;
}
::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}.bott{
  width: 80px;
  height: 80px;
  align-self: center;
  margin-top: 20px;
  border-radius: 20px;
}